In [ ]:
pip install pandas

In [ ]:
pip install matplotlib

In [ ]:
pip install seaborn

In [ ]:
pip install scikit-learn

In [ ]:
pip install numpy

In [8]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans

In [9]:
dados = pd.DataFrame({
    'Símbolo':['AAPL','Google','MSFT',
               'AMZN','TSLA','FB'],
    'Preço':[150.12,2700.45,300.89,3200.10,700.78,
             350.40],
    'Volume de negociação':[3000000,1000000,2500000,
                            1200000,5000000,900000],
    'Capitalização de mercado':[2000000000000,18000000000000,
                                22000000000000,1700000000000,
                                75000000000000,9000000000000]
})

In [10]:
dados.head()

  Símbolo    Preço  Volume de negociação  Capitalização de mercado
0    AAPL   150.12               3000000             2000000000000
1  Google  2700.45               1000000            18000000000000
2    MSFT   300.89               2500000            22000000000000
3    AMZN  3200.10               1200000             1700000000000
4    TSLA   700.78               5000000            75000000000000