Exemplo 1 - Classificar se uma pessoa compra ou não um produto
com base na idade , renda e sexo

Importação das bibliotecas

In [2]:
import pandas as pd # importa a biblioteca pandas

In [3]:
df = pd.read_csv('Social_Network_Ads.csv',sep=',') #faz a
# importação da base de dados Social Network csv

In [4]:
df.head() # exibe as primeiras linhas do dataframe

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [8]:
# Criando um dicionário para substituir o nome de cada coluna
dicionario = {
    'User ID':'Usuario', 'Gender':'Genero',
    'Age':'Idade',
    'EstimatedSalary':'Salario Estimado',
    'Purchased':'Comprou'
    }

In [9]:
df.rename(columns=dicionario,inplace=True) #renomeia as colunas do dataframe

In [10]:
df.head()

    Usuario  Genero  Idade  Salario Estimado  Comprou
0  15624510    Male     19             19000        0
1  15810944    Male     35             20000        0
2  15668575  Female     26             43000        0
3  15603246  Female     27             57000        0
4  15804002    Male     19             76000        0

Importa as bibliotecas necessárias para a análise dos dados

In [11]:
import numpy as np # importa a biblioteca numpy
import matplotlib.pyplot as plt # importa a biblioteca matplotlib
from sklearn.svm import SVC # importa a biblioteca Sklearn e o modelo SVC
from sklearn.preprocessing import StandardScaler # da biblioteca
#sklearn preprocessing importa o Standard Scaler
from sklearn.metrics import confusion_matrix, accuracy_score,precision_score,f1_score
from matplotlib.colors import ListedColormap # importa da biblioteca matplotlib
# o ListedColormap

In [18]:
# Selecionando as colunas do dataframe
X= df.iloc[:,[2,3]].values # pega os valores da primeira coluna ate a coluna 3
y = df.iloc[:,-1].values # pega a saida do dataframe

In [15]:
#x
#y

In [17]:
# dividindo os dados em treino e teste
from sklearn.model_selection import train_test_split # importa o metodo train teste split

In [26]:
# divide os dados em treino e teste
X_treino,X_teste,y_treino,y_teste=train_test_split(X,y,test_size=0.3,
                                                   random_state=3)

In [36]:
# Normalizando os dados com Stand Scaler
sc =StandardScaler() # armazena o Standard Scaler na variavel sc

In [37]:
# Normalizando os dados do X_treino e X_teste
X_treino = sc.fit_transform(X_treino)
X_teste = sc.fit_transform(X_teste)

In [38]:
# Criando o algoritmo de ML - Machine Learning SVM
algoritmo =SVC(kernel='linear',random_state=3)

In [39]:
#treinando o algoritmo de Machine Learning SVM
algoritmo.fit(X_treino,y_treino)

SVC(kernel='linear', random_state=3)

In [40]:
# Realizando as predições
y_prev = algoritmo.predict(X_teste)