In [1]:
#import bibliotecas
import pandas as pd
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D
import seaborn as sns

In [2]:
# Criar um DataFrame com os dados fictícios
data = {
    'Símbolo': ['AAPL', 'GOOGL', 'MSFT', 'AMZN', 'TSLA', 'FB'],
    'Preço da Ação': [150.12, 2700.45, 300.89, 3200.10, 700.78, 350.40],
    'Volume de Negociação': [3000000, 1000000, 2500000, 1200000, 5000000, 900000],
    'Capitalização de Mercado': [2000000000000, 1800000000000, 2200000000000, 1700000000000, 750000000000, 900000000000]
}

df = pd.DataFrame(data)

In [3]:
df.head()

  Símbolo  Preço da Ação  Volume de Negociação  Capitalização de Mercado
0    AAPL         150.12               3000000             2000000000000
1   GOOGL        2700.45               1000000             1800000000000
2    MSFT         300.89               2500000             2200000000000
3    AMZN        3200.10               1200000             1700000000000
4    TSLA         700.78               5000000              750000000000